@charset "UTF-8";
#contents-wrapper {
  @include outer-container;
  position: relative;
  z-index: 300;
  top: 100vh;
  color: #fff;
  text-align: left;

}
.contents-box-wrapper {
  background: rgba(6, 12, 24, 0.9);
  box-shadow: 0px 0px 4px #000;
  color: #fff;
}
.contents-box {
  padding: 40px 10px;
  max-width: 700px;
  margin: 0 auto;
}


#intro-wrapper {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  padding-top: 30vh;
  background: url('../images/bg.jpg');
  background-position: right;
  background-size: 2000px auto;
  @include media($medium) {
    padding-top: 25vh;
  }
  @include media($small) {
    padding-top: 10vh;
  }
}