@charset "UTF-8";
// bower:scss
@import "bourbon/dist/_bourbon.scss";
// endbower
@import "settings";
@import "neat/app/assets/stylesheets/_neat.scss";
@import "base/base";
@import "layout";
@import "fonts";
@import "icons";

body {

 //background-position: right 0px;
 margin: 0;
 text-align: center; 
 background-attachment: fixed;
}
