body {
 background: url('black_grad.png') #112 repeat-x;
 margin: 0;
 text-align: center; 
}

#main  {
text-align: left; 

 margin: 10% 10%;
 
 width: 80%;
}


#intro-wrapper {

  margin-top: 0;
  margin-bottom: 0;
}
#intro {
  
  font-weight: normal;
  color: #eee;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;

  margin-bottom:0;
  padding: 40px 0;

}

#intro h1 {
  margin-top: 0;
  color: #eee;
  font-size: 370%;
  margin-bottom: 0;
  font-weight: normal;
}
#intro h2 {
  font-size: 195%;
  margin-top: 0px;
  margin-bottom: 0;
    font-weight: normal;
}

#my-name {
  font-weight: bold;
}


h3 {
 color: #eee;
}

a, a:active, a:visited {

color: #898;

text-decoration: none;
}
a:hover {
margin-bottom:0;
/*border-bottom: 1px dotted #999;*/
background-color: #676;
color: #FFF;
}

#contents-wrapper {
  margin-top: 0px;
  color: #898;
}

#footer {
padding-top:10px;
text-align: right;
font: 60% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}


#footer-wrapper {
  margin-top: 0px;
  color: #898;
}

#contents {
padding-top:10px;

font: 90% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
height: 180px;
}


p {
  margin: 0;
}

.single-col {
  width: 228px;
  height: 140px;
  margin-right: 12px;
  padding-right: 8px;
  float: left;
  border-right: 1px dotted #363;

}

.last {
margin-right: 0px;
padding-right: 0px;
  border-right: none;
}

  
