body {
 background: #223;
 margin: 0;
 text-align: center; 
}

#main  {
text-align: left; 
 margin: 8% 4%;
 width: 92%;
 max-width: 2024px;
}


#intro-wrapper {
  width: 100%;
  margin: 0;
}

h1, h2, h3 {
 color: #eee;
 font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
 text-shadow: 1px 1px 1px #000;
 
}
h1 {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  letter-spacing: -0.1em;
}
h2 {
  width: 100%;
  margin-top: 0px;
  font-weight: normal;
  letter-spacing: -0.1em;  
}
a, a:active, a:visited {

color: #898;

text-decoration: none;
}
a:hover {
margin-bottom:0;
/*border-bottom: 1px dotted #999;*/
background-color: #676;
color: #FFF;
}

#contents-wrapper {
  margin-top: 0px;
  color: #898;
}

#footer {
padding-top:10px;

text-align: right;
font: 60% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}


#footer-wrapper {
  margin-top: 0px;
  color: #898;
  width: 100%;
}

#contents {
padding-top:0px;

font: 90% "Helvetica", "Helvetica Neue", Verdana, sans-serif;

}


p {
  margin: 0;
}

.single-col {
  width: 21.5%;
  min-height: 180px;
  margin-right: 2%;
  padding-right: 2%;
  float: left;
  border-right: 1px dotted #666;
  line-height: 130%;
}


@media screen and (max-width: 800px) {
  .single-col {
    width: 46%;
    margin-right: 2%;
    padding-right: 2%;
    float: left;
    margin-bottom: 20px;

  }
  .single-col.second {
    clear: right;
    border-right: none;
    margin-right: 0;
  }
}

@media screen and (max-width: 420px) {
  .single-col {
    min-height: 0px;
    width: 98%;
    margin-right: 2%;
    padding-right: 2%;
    float: none;
    border-bottom: 1px dotted #666;
    border-right: none;
    padding-bottom: 20px;
  }
  .single-col.last {
    clear: both;
    border-bottom: none;
  }
}


.last {
margin-right: 0px;
padding-right: 0px;
  border-right: none;
}

  
