body {
 background: url('black_grad.png') #112 repeat-x;
 margin: 0;
 text-align: center; 
}

#main  {
text-align: left; 
 margin: 10% 4%;
 width: 92%;
 max-width: 2024px;
}


#intro-wrapper {

  margin-top: 0;
  margin-bottom: 0;
}


#intro img {
  width: 100%;
}

#intro #intro-medium {
  display: none;
}

#intro #intro-small {
  display: none;
}

h3 {
 color: #eee;
}

a, a:active, a:visited {

color: #898;

text-decoration: none;
}
a:hover {
margin-bottom:0;
/*border-bottom: 1px dotted #999;*/
background-color: #676;
color: #FFF;
}

#contents-wrapper {
  margin-top: 0px;
  color: #898;
}

#footer {
padding-top:10px;

text-align: right;
font: 60% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}


#footer-wrapper {
  margin-top: 0px;
  color: #898;
  width: 100%;
}

#contents {
padding-top:20px;

font: 90% "Helvetica", "Helvetica Neue", Verdana, sans-serif;

}


p {
  margin: 0;
}

.single-col {
  width: 21.5%;
  min-height: 180px;
  margin-right: 2%;
  padding-right: 2%;
  float: left;
  border-right: 1px dotted #363;
  line-height: 130%;
}


@media screen and (max-width: 800px) {
  .single-col {
    width: 46%;
    margin-right: 2%;
    padding-right: 2%;
    float: left;
    border-right: 1px dotted #363;
    margin-bottom: 20px;

  }
  .single-col.second {
    clear: right;
    border-right: none;
    margin-right: 0;
  }
  #intro #intro-large {
    display: none;
  }  
  #intro #intro-medium {
    display: block;
  }
  #intro #intro-small {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .single-col {
    min-height: 0px;
    width: 98%;
    margin-right: 2%;
    padding-right: 2%;
    float: none;
    border-bottom: 1px dotted #363;
    border-right: none;
    padding-bottom: 20px;
  }
  .single-col.last {
    clear: both;
    border-bottom: none;
  }
  #intro #intro-large {
    display: none;
  }  
  #intro #intro-medium {
    display: none;
  }
  #intro #intro-small {
    display: block;
  }
}


.last {
margin-right: 0px;
padding-right: 0px;
  border-right: none;
}

  
