.site-header {
  padding: 0px;
  vertical-align: top;
}
.site-header {
  .logo {
    float: left;
    padding: 12px 15px 0px;
    max-height: $navbar-height;
  }
  .logo a {
    background: url(../images/logo_large.svg) no-repeat top left;
    background-size: contain;
    display: block;
    width: 290px;
    height: $navbar-height;
  }
  .hamburger-button-wrapper {
    height: $navbar-height;
    float: left;
    line-height: 1.2em;
    padding: 15px;
  }
}
.no-svg .site-header .logo a {
  //TODO: add png-fallback
  background-image: url(logo.png);
}

.hamburger-button {
  //margin: -5px 0 0 -5px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 3px 5px 4px;
  border: 1px solid #515151;
  border-radius: 4px;
  height: 35px;
  display: block;
  text-align: center;
}
.hamburger-icon {
  font-size: 22px;
  line-height: 0.9em;
  transform: scale(1.3, 1);
}
.hamburger-text {
  font-size: 8px;
  line-height: 0.9em;
  color: #000;
}
.header-menus {
  float: left;
}
.header-menus {
  nav {
    font-weight: bold;
    display: inline-block;
    padding: 20px 10px 16px;
    position: relative;
  }
  .counter {
    right: -8px;
    color: #FFF;
    top: 12px;
    line-height: 1.7;
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #F00;
    text-align: center;
    font-size: 10px;
  }
}
.header-right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  max-height: $navbar-height;
}
.subscription-link-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
}
.search-wrapper {
  display: inline-block;
  height: $navbar-height;
  padding: 15px;
  .icon {
    display: block;
    text-align: center;
    width: 60px;
    font-size: $base-font-size * 1.5;
    line-height: 1.2;
  }
}
.user-navigation-wrapper {
  display: inline-block;
  vertical-align: top;
  padding: 20px 15px;
}

